.forPrize{
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
}
.fitstlink{
    border-radius:10px 10px 0 0;
}
.catalog{
    display: flex;
    align-items: center;
    margin-bottom:1rem;
}
.catalog>span:nth-child(1){
    display: inline-block;
    height:1.5rem;
    width:1.5rem;
    background: url("../../assets/iconfonts/react.png") center/cover no-repeat;
    animation: catalog 10s linear infinite;
}
@keyframes catalog {
    0%{
        transform: rotate(0deg) scale(1,1);
    }
    50%{
        transform: rotate(180deg) scale(1.3,1.3);
    }
    100%{
        transform: rotate(360deg) scale(1,1);
    }
}
.catalog>span:nth-child(2){
    margin-left:1rem;
    font-size:2rem;
    font-weight: bold;
}
.game{
    display: flex;
    align-items: center;
    background: linear-gradient(to right,lightskyblue,white);
}
.forPrize .game>span:nth-child(2){
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-indent: 1rem;
    border-radius: 5px;
}
.pointer{
    width:2rem;
    height:2rem;
    margin-left:1rem;
}
.choosed{
    background: url("../../assets/iconfonts/choose.png") center/cover no-repeat;
}
/*.forPrize .game:hover{*/
    /*background: #3385ff;*/
    /*color:white;*/
/*}*/
.hover{
    background: #3385ff;
    color:white;
}
